* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    transition: 0.6s;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    transition: 0.6s;
}

.topbar header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.topbar header #toggle:before {
    content: "";
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.topbar header #toggle:after {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(./img/background2.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.topbar header {
    z-index: 5;
}
.topbar.active header #toggle:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: 20;
}

.topbar.active header #toggle:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner.active {
    transform: translateX(-400px);
}

.content {
    max-width: 600px;
}

.content h2 {
    color: #fff;
    font-size: 3rem;
}

.content h2 span {
    color: #40c3ff;
}

.content p {
    color: #fff;
    padding: 2rem 0rem;
    font-weight: 300;
    font-size: 1.2rem;
}

.content button {
    background: none;
    padding: 1rem 2rem;
    border-color: #40c3ff;
    border-width: 4px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.content button:hover {
    background: #40c3ff;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.6rem;
    border-color: transparent;
    color: #000;
    cursor: pointer;
}

.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 2px solid #fff;
    margin: 10px 0 0;
}

.sci li a:hover {
    background: #000;
    filter: invert(1);
}

.sci li a img {
    max-width: 28px;
    filter: invert(1);
}

#navigation {
    position: fixed;
    top: 0;
    right: -300px;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: -1;
}

#navigation.active {
    right: 0;
}

#navigation ul li {
    list-style: none;
}

#navigation ul li a {
    display: inline-block;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color: #fff;
    padding: 2rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 800px) {
    header {
        padding: 20px 50px;
    }
    .banner {
        padding: 100px 50px 150px;
    }
    .banner h2 {
        font-size: 2.5rem;
    }
    .banner p {
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 600px) {
    .banner.active {
        padding: 40px;
        display: none;
    }
    .banner {
        padding: 40px;
    }

    #navigation {
        width: 100%;
    }
}
